.out
{
    /* mix-blend-mode: lighten; */
    font-family: 'subway-ticker.regular';
    z-index: -1;
    font-size: 0rem;
    color: rgb(0, 153, 255);
    left: 100px;
    top: -300px;
    position: absolute;
    width: 0px;
    height: 0px;
    background: rgba(0, 0, 255, 0.295);
    box-shadow: 0 0 2px rgb(34, 75, 255),
                /* 0 0 5px rgb(20, 43, 255),
                0 0 15px rgb(20, 43, 255), */
                0 0 25px rgb(20, 43, 255);
    /* outline: 1px solid rgb(43, 153, 255); */
    outline: 0px solid rgb(43, 153, 255);
    transform: rotateY(-30deg);
    transform-style: preserve-3d;
    overflow-y: scroll;
    border-radius: 10px;
    transition: 0.5s;

    text-shadow: 0 0 2px white,
        0 0 7px rgba(255, 255, 255, 0.774),
        /* 0 0 10px rgba(255, 255, 255, 0.562), */
        /* 0 0 20px rgba(255, 255, 255, 0.452), */
        0 0 30px rgb(0, 81, 255);
    
    /* perspective: 3000px; */
}
.out.active001
{
    outline: 3px solid rgb(22, 189, 255);
    width: 600px;
    height: 600px;
    font-size: 2rem;
    
}
.out2.active002
{
    height: 600px;
    width: 600px;
    font-size: 2rem;
    outline: 2px solid rgb(0, 81, 255);
}
.outblur.active003
{
    width: 610px;
    height: 610px;
    /* transform: scale(1.1); */

}
.out2
{
    font-family: 'subway-ticker.regular';
    z-index: 2;
    font-size: 0rem;
    color: rgba(255, 255, 255, 0.452);
    left: 100px;
    top: -300px;
    position: absolute;
    width: 0px;
    height: 0px;
    background: rgba(0, 0, 255, 0);
    text-shadow: 0 0 2px white,
        0 0 5px rgba(255, 255, 255, 0.582),
        /* 0 0 10px rgba(255, 255, 255, 0.562), */
        /* 0 0 20px rgba(255, 255, 255, 0.452), */
        0 0 30px rgba(36, 105, 255, 0.89);

    outline: 0px solid rgb(0, 81, 255);
    transform: rotateY(-30deg);
    transform-style: preserve-3d;
    overflow-y: scroll;
    border-radius: 10px;
    transition: 0.5s;
    animation: flicker 10s linear infinite;
    /* filter: brightness(2); */
    /* mix-blend-mode: lighten; */
    
    /* perspective: 3000px; */
}

.outblur
{
    z-index: 1;
    position: absolute;
    left: 95px;
    top: -305px;
    width: 0px;
    height: 0px;
    transform: rotateY(-30deg);
    transform-style: preserve-3d;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transition: 0.5s;
    /* outline: 2px solid red; */
}

.textbox:hover .out2 
{
    transform: rotateY(-10deg) translateZ(200px) translateX(-30px);
}
.textbox:hover .out
{
    transform: rotateY(-10deg) translateZ(200px) translateX(-30px);
}
.textbox:hover .outblur
{
    transform: rotateY(-10deg) translateZ(200px) translateX(-30px);
}
.out::-webkit-scrollbar
{
    /* margin: 10px; */
    width: 15px;
    /* height: 100px; */
    /* background-color: blueviolet; */
}
.out::-webkit-scrollbar-track
{
    border-radius: 10px;
    width: 10px;
    background: transparent;
    /* height: 100px; */
    /* background: linear-gradient(0deg, rgb(255, 251, 0) 0%, rgb(151, 0, 63) 100%); */
}
.out::-webkit-scrollbar-thumb
{
    width: 10px;
    background:transparent;
    /* height: 100px; */
    /* background-color: rgb(0, 255, 229); */
    /* background: transparent; */
    /* background: rgba(255, 255, 255, 0.178); */
    /* box-shadow: 0px 0px 0px 100vh rgb(0, 0, 0); */
    /* outline: solid 2px white; */
    border-radius: 10px;
}
.out2::-webkit-scrollbar
{
    /* margin: 10px; */
    width: 15px;
    /* height: 100px; */
    /* background-color: blueviolet; */
}
.out2::-webkit-scrollbar-track
{
    border-radius: 10px;
    width: 10px;
    background: transparent;
    /* height: 100px; */
    /* background: linear-gradient(0deg, rgb(255, 251, 0) 0%, rgb(151, 0, 63) 100%); */
}
.out2::-webkit-scrollbar-thumb
{
    width: 10px;
    /* height: 100px; */
    /* background-color: rgb(0, 255, 229); */
    background: transparent;
    /* background: rgba(255, 255, 255, 0.178); */
    /* box-shadow: 0px 0px 0px 100vh rgb(0, 0, 0); */
    /* outline: solid 2px white; */
    border-radius: 10px;
}
.sidepage.active4 #enter
{
    right: 100px;

}
.sidepage #enter
{
    width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    right: 300px;
    top: 0px;
    color: rgba(37, 37, 37, 0.671);
    padding: 15px;
    padding-left: 8px;
    z-index: 12;
    font-size: 2rem;
    border-radius: 15px;
    transition: 1s;
    background: linear-gradient(
      175deg,
      rgba(255,255,255,0.8) 0%,
      rgba(255,255,255,0.6) 5%,
      rgba(255,255,255,0.1) 50%,
      rgba(0,0,0,0.0) 50%,
      rgba(0,0,0,0.0) 100%
    ); 
    border-color: rgba(255, 255, 255, 0.4);
    border-image: none;
    border-style: inset;
    border-width: 4px;
    cursor: pointer;   

}
.sidepage #enter:hover
{
    color: rgb(0, 174, 255);
    text-shadow: 0 0 2px rgb(0, 174, 255),
        0 0 5px rgb(0, 174, 255),
        0 0 10px rgb(0, 89, 255),
        0 0 20px rgb(0, 89, 255),
        0 0 30px rgb(0, 89, 255);
}
.i-1
{
    position: absolute;
    left: 0;
    width: 200px;
    height: 100px;
    font-size: 1rem;
}
.textbox
{

    /* mix-blend-mode: lighten; */
    position: absolute;
    perspective: 1400px;
    bottom: 550px;
    right: 800px;
}

@font-face
{
    font-family: 'subway-ticker.regular';
    src: url(/subway-ticker.regular.ttf);
    /* font-style: normal; */
    font-weight: 100;
}
@keyframes flicker
{
    0%
    {
        filter: brightness(1);
    }
    12%
    {
        filter: brightness(1);
    }
    13%
    {
        filter: brightness(2);
    }
    14%
    {
        filter: brightness(1);
    }

    35%
    {
        filter: brightness(1);
    }
    36%
    {
        filter: brightness(2);
    }
    37%
    {
        filter: brightness(1);
    }
    38%
    {
        filter: brightness(2);
    }
    39%
    {
        filter: brightness(1);
    }
    40%
    {
        filter: brightness(2);
    }
    42%
    {
        filter: brightness(1);
    }
    42%
    {
        filter: brightness(2);
    }
    43%
    {
        filter: brightness(1);
    }
    44%
    {
        filter: brightness(2);
    }
    45%
    {
        filter: brightness(1);
    }
    82%
    {
        filter: brightness(1);
    }
    83%
    {
        filter: brightness(2);
    }
    84%
    {
        filter: brightness(1);
    }
    100%
    {
        filter: brightness(1);
    }



}